@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    background: linear-gradient(to right, #333399, #ff00cc);
    display: flex;
    align-items: center;
    justify-content: center;
} 
.mainbox{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	padding: 40px;
	height: 470px;
	position: absolute;
	background: rgba(255, 255, 255, .5);;
	opacity: 80%;
	text-align: center;
	border-radius: 10px;
}

.mainbox::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.profile_picture{
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px auto;
	padding: 50px;
	background: url(photo.png) center no-repeat;
	background-size: cover;
}

h1{
	font-family: oswald;
	font-size: 32px;
	font-weight: 400;
	color: #fff;
}

form{
	padding: 10px 10px;
}

form input[type="text"],form input[type="password"]{
	display: block;
	margin: 20px auto;
	padding: 10px;
	width: 250px;
	border-radius: 24px;
	outline: none;
	border: none;
	font-family: oswald;
	font-weight: 400;
	font-size: 18px;
	background: white;
	color: #fff;
}

input[type="submit"]{
	padding: 7px;
	width: 250px;
	border-radius: 24px;
	outline: none;
	border: none;
	background: black;
	font-family: oswald;
	font-size: 22px;
	cursor: pointer;
	color: white;
}

input[type="submit"]:hover{
	background: crimson;
	color: #fff;
	transition: 0.2s ease;
}